.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}


/*this is new*/

.nav{
  display: flex;
}

.active{
  font-weight: bold;
}

/* carousel styling*/
.carousel-inner img {
  width: 100%;
  margin: auto;
}

.carousel-caption h3 {
  color: #fff !important;
}

.footer {
  background-color: #555;
  color: white;
  padding: 15px;
}

.font-grey{
  color: #919292;
  font-size: 17px;
}

.text-left {
  text-align: left;
}

input-file{
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  margin: 0;
  width: 100%;
  border: solid transparent;
  cursor: pointer;
  opacity: 0;
}

.underline{
  text-underline-mode: true;
  text-underline: blue;
  text-underline-style: dash;
  text-decoration: underline;
}