.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}


/*this is new*/

.nav{
  display: flex;
}

.active{
  font-weight: bold;
}

/* carousel styling*/
.carousel-inner img {
  width: 100%;
  margin: auto;
}

.carousel-caption h3 {
  color: #fff !important;
}

.footer {
  background-color: #555;
  color: white;
  padding: 15px;
}

.font-grey{
  color: #919292;
  font-size: 17px;
}

.text-left {
  text-align: left;
}

input-file{
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  margin: 0;
  width: 100%;
  border: solid transparent;
  cursor: pointer;
  opacity: 0;
}

.underline{
  text-underline-mode: true;
  text-underline: blue;
  text-underline-style: dash;
  text-decoration: underline;
}

.button-color {
  background-color: darkorange;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
}

.orange {
  background-color: darkorange;
}

.navBarBorder{
  margin-bottom: 0px;
}

.carousel-inner img {
  width: 100%;
  margin: auto;
  min-height:150px;
}

.contain-carousel{
  position:relative;
}
.contain-carousel .fixed-logo {
  position:absolute;
  top:10px;
  right:10%;
  z-index:1100;
}

.padding{
  padding-left: 4px;
  padding-top: 10px;
}

.profileBackgroud{
  background: #919292;
}

.padding-img{
  padding-left: 25px;
}

.align-right{
  align-items: right;
  position: absolute;
  right: 0;
  width: 650px;
  height: 40px;
}

.main-content, main {
  zoom: 1;
  display: block;
  min-height: 70vh;
  font-size: 14px;
  line-height: 1.4;
  color: #1f2836;
  background: #F7F7F7;
}

*, ::after, ::before {
  box-sizing: border-box;
}

.search-table, .section-inner, .site-section-inner {
  width: 960px;
  min-width: 960px;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 50px;
}

.fl-banner {
  background: #F7F7F7;
  border: 1px solid #BEC0C2;
  border-radius: 3px;
  box-sizing: border-box;
  color: #1f2836;
  display: table;
  padding: 0;
  position: relative;
  width: 100%;
}

.bannera {
  text-decoration: none;
  color: #0087e0;
  cursor: pointer;
  -webkit-transition: color .1s ease-out;
  transition: color .1s ease-out;
}

figure {
  display: block;
  -webkit-margin-before: 1em;
  -webkit-margin-after: 1em;
  -webkit-margin-start: 40px;
  -webkit-margin-end: 50px;
}

.fl-banner-image {
  background: #2b3340;
  display: table-cell;
  overflow: hidden;
  padding: 0;
  position: relative;
  z-index: 0;
}

.fl-banner-button {
  background: #5dc26a;
  border: none;
  bottom: 0;
  box-sizing: border-box;
  height: 52px;
  line-height: 1;
  margin: auto;
  padding: 0 8px;
  position: absolute;
  right: -15px;
  top: 90%;
  -webkit-transition: background .2s ease;
  transition: background .2s ease;
  z-index: 2;
  width: 60px;
}

.section-heading {
  padding: 15px 0;
  border-bottom: 1px solid #DEDEDE;
  font-size: 24px;
  line-height: 1.33;
  font-weight: 700;
}

.ProjectFilters {
  margin-bottom: 20px;
}

.ProjectFilters-section {
  padding: 10px 0;
}
.ProjectFilters-row {
  margin-left: -12px;
  margin-right: -12px;
  zoom: 1;
}

.ProjectFilters-rowLabel {
  float: left;
  width: 16.66666667%;
}

.ProjectFilters-rowLabel {
  float: left;
  width: 100%;
  position: relative;
  min-height: 1px;
  padding-left: 12px;
  padding-right: 12px;
  margin-top: 12px;
}

.fl-form label {
  display: block;
  margin-bottom: 10px;
  line-height: 1;
  font-weight: 700;
}

.default-input {
  height: 36px;
  padding: 0 12px;
  font-family: Roboto,"Helvetica Neue",Helvetica,Arial,sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 14px;
  line-height: 1.43;
  background: #fff;
  border: 1px solid #BEC0C2;
  border-radius: 3px;
  box-shadow: 0 0 0 1px transparent;
  color: #1f2836;
  display: inline-block;
  -webkit-transition: all .1s linear;
  transition: all .1s linear;
  width: 100%;
}

label.ProjectFilters-checkbox {
  font-weight: 100;
  margin-bottom: 0;
  font-size: medium;
  padding-right: 130px;
}

.ProjectFilters-item--JobType {
  float: left;
  position: relative;
  min-height: 1px;
  padding-left: 20px;
  padding-right: 20px;
}

.btnfilters {
  background: -webkit-linear-gradient(top,#fff 0,#F0F0F0 100%);
  background: linear-gradient(to bottom,#fff 0,#F0F0F0 100%);
  border: 1px solid #BEC0C2;
  color: #4D525B;
  font-weight: 700;
  text-shadow: 0 -1px transparent;
  padding: 8px 18px;
  font-size: 14px;
  background-clip: border-box;
  border-radius: 3px;
  cursor: pointer;
  display: inline-block;
  -webkit-font-smoothing: antialiased;
  line-height: 18px;
  text-align: center;
}

.ProjectFilters-quantity {
  display: inline-block;
  margin-right: 10px;
  vertical-align: top;
}

.ProjectFilters-quantitySelector {
  width: auto;
  font-family: Roboto,"Helvetica Neue",Helvetica,Arial,sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 14px;
  line-height: 1.43;
  background: #fff;
  border: 4px solid #BEC0C2;
  border-radius: 3px;
  box-shadow: 0 0 0 1px transparent;
  color: #1f2836;
  display: inline-block;
  -webkit-transition: all .1s linear;
  transition: all .1s linear;
}

label.ProjectFilters-dd {
  font-weight: 100;
  margin-bottom: 0;
  font-size: medium;
  padding-right: 10px;
}
 .ProjectTable-header {
  font-size: 14px;
  line-height: 1.43;
  background: #4D525B;
  border-top: 0;
  font-weight: 400;
  height: 56px;
  padding: 12px 10px;
  text-align: left;
  text-transform: uppercase;
  vertical-align: middle;
}

.dataTables_processing {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0,0,0,.2);
  z-index: 1;
}

.ProjectTable {
  box-shadow: 0 0 4px 0 rgba(0,0,0,.08), 0 2px 4px 0 rgba(0,0,0,.12);
  background: #fff;
  border-radius: 3px 3px 0 0;
  margin-bottom: 18px;
  min-width: 960px;
  overflow: hidden;
  width: 100%;
  font-size: 14px;
  line-height: 1.43;
  box-sizing: border-box;
  border: #919292;
}

.ProjectTable-head {
  color: #F7F7F7;
}

.ProjectTable-summaryColumn {
  padding-left: 24px;
  position: relative;
  width: 850px;
  font-family: Roboto,"Helvetica Neue",Helvetica,Arial,sans-serif;
}

.ProjectTable-cell {
  border-top: 1px solid #eee;
  padding: 20px 10px;
  font-size: 15px;
  text-align: left;
  vertical-align: top;
  word-wrap: break-word;
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
  font-family: Roboto,sans-serif;
  background: #fff;
}

.ProjectTable-title {
  font-weight: 700;
  margin-bottom: 6px;
  overflow: hidden;
  padding-left: 10px;
  font-size: 19px;
  line-height: 1.4;
  color: #0087e0;
  font-family: Roboto,sans-serif;
}

.container {
  margin: 0 auto;
  max-width: 1280px;
  width: 97%;
  font-family: Roboto,sans-serif;
}

.a-skills {
  text-decoration: none;
  color: #0087e0;
  cursor: pointer;
  -webkit-transition: color .1s ease-out;
  transition: color .1s ease-out;
  font-family: Roboto,sans-serif;
}

.a-table{
  color: white;
}

.steps-banner {
  background: #fff;
  border: 1px solid #DEDEDE;
  margin-bottom: 50px;
  padding: 20px;
  position: relative;
  text-align: center;
}

.section-inner, .site-section-inner {
    width: 100%;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
}

.steps-banner-title {
  margin: 20px 0;
  font-size: 24px;
    line-height: 1.33;
}

.steps-banner-explanation {
  line-height: 1.6;
  margin: 0 auto 20px;
  width: 70%;
}

.steps-banner-list {
    margin: 0;
    padding: 0;
    list-style: none;
    zoom: 1;
}

.stepsul {
    display: block;
    list-style-type: disc;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 40px;
}

.steps-banner-item {
    float: left;
    margin-right: 3.3%;
    width: 30%;
    display: list-item;
    text-align: -webkit-match-parent;
}

.steps-banner-item-image {
  display: block;
  height: 148px;
  margin: 0 auto 20px;
  width: 148px;
  -webkit-animation-duration: .6s;
  animation-duration: .6s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-name: bounceIn;
  animation-name: bounceIn;
}

.steps-banner-item-text {
  display: block;
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 40px;
}

.dashboard_tab_wrapper {
  width: 100%;
  margin-bottom: 24px;
  font-size: 0;
  border-bottom: 1px solid #DEDEDE;
}

.dashboard_tab {
  display: inline-block;
  text-align: center;
  padding: 10px 20px;
  font-size: 14px;
  line-height: 1.43;
  cursor: pointer;
  color: #1f2836;
  border-left-width: 0;
}

.tab-clicked {
  border-bottom: 2px solid #363f4d;
}

.btn-search {
    background: -webkit-linear-gradient(top,#fff 0,#F0F0F0 100%);
    background: linear-gradient(to bottom,#fff 0,#F0F0F0 100%);
    border: 1px solid #BEC0C2;
    color: #4D525B;
    font-weight: 700;
    text-shadow: 0 -1px transparent;
    padding: 8px 18px;
    font-size: 14px;
    background-clip: border-box;
    border-radius: 3px;
    cursor: pointer;
    display: inline-block;
    -webkit-font-smoothing: antialiased;
    line-height: 18px;
    text-align: center;
}

.setting-show {
  vertical-align: top;
  width: 13%;
  padding: 0 0 0 15px;
  height: 43px;
  margin: 0 0 0 5px;
  border-color: #BEC0C2;
}
.setting-search-btn {
  vertical-align: top;
  margin: 0 20px 0 -1px;
  border-radius: 0 4px 4px 0;
}
.dashboardTable-setting-search {
    width: 85%;
    margin: 0;
    vertical-align: top;
    padding: 0 20px 0;
    border-color: #BEC0C2;
    border-radius: 4px 0 0 4px;
    height: 43px;
}

.dashboardTable-setting {
  width: 100%;
  margin: 0 0 24px;
  display: -ms-flexbox;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -ms-flex-wrap: nowrap;
  -webkit-flex-wrap: nowrap;
  flex-wrap: nowrap;
}

.dashboardTable-setting-show {
  vertical-align: top;
  width: 15%;
  padding: 0 0 0 15px;
  height: 43px;
  margin: 0 0 0 5px;
  border-color: #BEC0C2;
}

.gaf-container {
  background-color: #fff;
  padding: 5px 12px;
  height: 40px;
  box-sizing: border-box;
  box-shadow: none;
  border-radius: 3px;
  border: 1px solid #BEC0C2;
  font-size: 16px;
}

.page{
  background: #F0F0F0;
}

.pagerNormal{
  background-color: #4D525B;
  color: #919292;
}
.activePager{
  background-color: #1f2836;
  color: white;
}

.navbar1{
  padding-bottom: 0;
}

.bar-item{
    font-size: 14px;
  background: #161e2c;
  color: #fff;
  display: block;
}

.is-active {
  background: #56c7ff;
  display: block;
  opacity: 1;
}

.project_name {
  float: left;
  margin-right: 4px;
  margin-left: 1px;
  word-wrap: break-word;
  font-weight: 700!important;
}

.span12 {
  width: 920px;
}

.block {
  display: inline-block;
}

.text-blue {
  color: #008bcb!important;
  font-weight: 700!important;
  font-size: 22px!important;
}


.text-black {
    color: #4D525B!important;
    font-weight: 700!important;
    font-size: 22px!important;
}

.project-p{
  margin: 0 0 9px;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 16px;
  line-height: 18px;
}
.border-l {
  border-left: 1px solid #CCC;
}
.border-r {
  border-right: 1px solid #CCC;
}

.align-c {
  text-align: center!important;
}

.padding-l10 {
  padding-left: 10px!important;
}

.padding-t20 {
  padding-top: 20px!important;
}


.padding-b20 {
  padding-bottom: 20px!important;
}

.padding-r10 {
  padding-right: 10px!important;
}

.right {
  float: right!important;
  margin: 10px 10px 10px 0;
}

.text-green {
  color: #61AB00!important;
}
.bold {
  font-weight: 700!important;
}
.larger {
  font-size: 22px!important;
}
.margin-b5 {
    margin-bottom: 5px!important;
}

.project-brief-subheading {
  font-size: 20px;
  line-height: 1.4;
  margin: 12px 0 8px;
  font-weight: 700;
}

.projectBrief-inner {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 24px;
}

.project-brief {
  word-wrap: break-word;
  width: 60%;
  margin-left: 20px;
}
.btn-primary {
  background: -webkit-linear-gradient(top,#fc8c14 0,#f77d0e 100%);
  background: linear-gradient(to bottom,#fc8c14 0,#f77d0e 100%);
  border: 1px solid #f77d0e;
  color: #F7F7F7;
  font-weight: 700;
  text-shadow: 0 -1px transparent;
}

.btn-primary-green {
  background: -webkit-linear-gradient(top,#5dc26a 0,#61AB00 100%);
  background: linear-gradient(to bottom,#65bd63 0,#61AB00 100%);
  border: 1px solid #61AB00;
  color: #F7F7F7;
  font-weight: 700;
  text-shadow: 0 -1px transparent;
}

.btn-large {
  padding: 13px 22px;
  font-size: 20px;
  border-radius: 3px;
  font-weight: 700;
}
.ProjectReport {
  margin-top: 24px;
  float: right;
  text-align: right;
}

.project-brief-cta {
  clear: both;
  margin-left: 20px;
  padding-bottom: 20px;
  float: none;
  font-weight: 700;
  padding-left: 24px!important;
  width: auto!important;
}

.project-sidebar {
  width: 300px;
  margin: 20px 0 0 20px;
  float: left;
  text-align: right;
  margin-top: 0!important;
}
.dataTables_paginate {
  float: right;
  display: inline-block;
  vertical-align: top;
}

.dataTables_info {
  display: inline-block;
  width: 50%;
  vertical-align: top;
    font-size: 14px;
    line-height: 1.4;
    color: #1f2836;
}

.Grid {
  margin: 0 -12px;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.Grid-col--6 {
  flex-basis: 50%;
  max-width: 50%;
}
.Grid-col {
    padding: 0 12px;
}
.Grid-col {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 100%;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
    padding: 0 8px;
}

.form-step {
    position: relative;
    margin-bottom: 0!important;
    padding-bottom: 20px;
    -webkit-animation-duration: .4s;
    animation-duration: .4s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
}
.PaymentMethod-content-inner {
    position: relative;
    padding: 16px 24px 24px;
    border-radius: 0 0 3px 3px;
    background-color: #fff;
    width: 560px;
    box-sizing: border-box;
}
.Payment-label{
    font-size: 15px;
    line-height: 1.4;
    color: #1f2836;
    text-align: left;
    padding-bottom: 10px;
    font-weight: bold;
}
.PaymentMethod-form-column--medium {
    max-width: 375px;
    display: block;
    width: 300px;
}

.PaymentMethod-form-column--small {
    z-index: 1;
    max-width: 140px;
    display: block;
    padding-left: 20px;
    width: 200px;
}

.PaymentMethod-form-group {
    display: flex;
}

.large-input {
    font-size: 16px;
    height: 46px;
    padding: 0 16px;
    width: 100%;
}

.PaymentMethod-form-column {
    padding-right: 8px;
}

.PagePayments-summary {
    box-shadow: 0 0 4px 0 rgba(0,0,0,.08), 0 2px 4px 0 rgba(0,0,0,.12);
    border-radius: 3px;
    background: #fff;
    padding: 24px 32px;
}

.padding-l30{
    padding-left: 70px;
}

.PagePayments-body {
    margin-top: 24px;
    padding-bottom: 48px;
}

.search-table, .section-inner, .site-section-inner {
    width: 960px;
}

.PagePayments-summary-header {
    margin-top: 8px;
    margin-bottom: 24px;
    display: flex;
}

.PagePayments-currency {
    font-size: 16px;
    line-height: 1.5;
    position: relative;
    width: 60%;
    overflow: hidden;
    border: 1px solid #DEDEDE;
    border-radius: 3px;
    margin-left: auto;
}

.PagePayments-currency-flag {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    left: 8px;
}
.padding-t10{
    padding-top: 17px;
}

.PagePayments-summary-amount {
    text-align: right;
    padding-right: 12px;
}

.PagePayments-summary-currency {
    text-align: center;
}

.PagePayments-summary-table {
    width: 100%;
    margin-top: 8px;
    border-collapse: collapse;
    border-spacing: 0;
    display: table;
}

.PagePayments-summary-title {
    text-align: left;
    padding-right: 12px;
    width: 40%;
}
.PagePayments-summary-group {
    border-top: 1px solid #DEDEDE;
}

.PagePayments-summary-column {
    padding: 8px 0;
    position: relative;
}

.btn-info {
    background: -webkit-linear-gradient(top,#139ff0 0,#0087e0 100%);
    background: linear-gradient(to bottom,#139ff0 0,#0087e0 100%);
    border: 1px solid #0087e0;
    color: #F7F7F7;
    font-weight: 700;
    text-shadow: 0 -1px transparent;
}

.btn-xlarge {
    font-size: 20px;
    padding: 18px 26px;
    border-radius: 3px;
    font-weight: 700;
}
.PagePayments-summary-btn {
    margin-top: 24px;
}

.btn-block {
    display: block;
    width: 100%;
}

.PagePayments-summary-footer {
    font-size: 14px;
    margin-top: 12px;
}

.transaction-table-comments{
    width: 40%;
}

.transaction-table-amount{
    width: 20%;
}